* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 1200px;
  margin: auto;
  display: block;
}

.card {
  max-width: 90%;
  min-width: calc(1200px / 6);
  background: red;
  height: 150px;
}
